<%- include("header") -%>

    <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, harum?</h2>

    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus tenetur debitis blanditiis voluptas ex
        temporibus,
        eius deleniti. Ea beatae nihil eius omnis vero facilis, libero recusandae veritatis earum odio itaque,
        doloremque
        veniam ipsam unde velit vitae deleniti sint, cum accusantium! Dolore natus, sit delectus magni velit
        consequuntur
        repudiandae, tempore enim asperiores ad corporis sint aut. Laboriosam iusto magnam esse corporis earum? Eveniet
        illo
        beatae aliquid in earum dolores, asperiores molestiae odit excepturi voluptas fugit quam quas explicabo expedita
        odio error eos fuga sapiente sequi voluptatem soluta, eaque consequatur? Expedita veritatis iure quo ullam ex
        voluptatum laudantium, cumque nemo quisquam porro.</p>

    <%- include("footer") -%>